build
dist
node_modules
.DS_Store
.env
.env.*
!.env.example
.env.local
.env.production
.env*.local
.env*.production
.next
.vercel
.codex
*.tsbuildinfo
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Payload default media upload directory
public/media/

public/robots.txt
public/sitemap*.xml


# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
